$navbar-default-bg: #db2020;

@import "bootstrap-sprockets";
@import "bootstrap";

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('cover_image.jpg');
  background-size: cover;
  height: 300px;
}

footer {
  background-color: #c4c4c4;
  padding-top: 15px;
  border-top: 1px solid #db2020;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
  text-decoration: none;
}

footer ul {
  float: left;
  list-style: none;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.jumbotron h1, h2 {
  color: #fff;
  text-shadow:
   -1px -1px 0 #191919,
    1px -1px 0 #191919,
    -1px 1px 0 #191919,
     2px 2px 0 #191919;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge {
  background-color: #db2020;
}

.btn-xlarge:hover {
  color: #191919;
  text-decoration: none;
}
